:root{
    --firstmaincolor : #fff;
    --secondmaincolor : #000;
}
.SearchEngine{
    margin: 50px auto;
    height: 1000px;
    max-width: 600px;
    color: var(--firstmaincolor);
}
h1{
    font-weight: 700;
    margin-top: 1rem;
}

input.search-input{
    padding-bottom: 3px;
    outline: none;
}

input::placeholder { 
    color: var(--secondmaincolor);
  }
  
button.search-button{
    color: var(--firstmaincolor);
}


  